<!--&lt;!&ndash; additional_photos.html &ndash;&gt;-->
<!--<div class="row">-->
<!--    {% for photo in car.additional_photos.all %}-->
<!--        {% if forloop.counter > 6 %}-->
<!--            <div class="col-md-4 mb-4">-->
<!--                <a href="{{photo.url}}" data-lightbox="car-gallery">-->
<!--                    <img class="d-block img-fluid" src="{{photo.url}}" alt="additional car photo">-->
<!--                </a>-->
<!--            </div>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
<!--</div>-->
